
/*  font-family: Abel  */
@font-face {
    font-family: Abel;
    src: url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
}

/*  font-family: Anton  */
@font-face {
    font-family: Anton;
    src: url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
}

/*  font-family: Josefin  */
@font-face {
    font-family: Josefin;
    src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
}

/*  font-family: Lexend  */
@font-face {
    font-family: Lexend;
    src: url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
}

/*  font-family: Livvic  */
@font-face {
    font-family: Livvic;
    src: url('https://fonts.googleapis.com/css2?family=Livvic&display=swap');
}
